@font-face{
    src: url(../fonts/Emberly-ExtraBold.otf);
    font-family: logotitle;
}

header {
    background: url(../photos/bikes.png);
    background-repeat: no-repeat;
    background-size:cover;
    height: 550px;
    width: 100%;
    overflow: hidden;
}
.Header{
    padding-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
}

header .HeaderTitle{
    font-family: logotitle;
    font-size: 500%;
    text-align: center;
    color: white;
}
