@font-face{
    src: url(../fonts/Emberly-ExtraBold.otf);
    font-family: logotitle;
}

header {
    background: url(../photos/bikes.png);
    background-repeat: no-repeat;
    background-size:cover;
    height: 550px;
    width: 100%;
    overflow: hidden;
}
.Header{
    position: absolute;
    height:550px;
    width: 100%;
    text-align: center;

}

.HeaderTitle{
    position: inherit;
    font-family: logotitle;
    font-size: 500%;
    margin-top: 250px;
    width: 100%;
    text-align: center;
    color: white;
}
