@font-face{
    src: url(../fonts/Emberly-ExtraBold.otf);
    font-family: navbar;
}

nav{
    background-color: black;
    position:fixed;
    width: 100%;
    line-height: normal;
    transition: top 0.3s;
}

.logo{
    padding-left: 1%;
    padding-bottom: 1%;
    padding-top: 1%;
    height: 80px;
    float: left;
    margin: auto;
}

.menu ul{
    float: right;
    padding-top: 20px;

}

.menu a:hover {
    background-color: #ffd203;
    text-decoration: overline;
    color: black;
}

.menu a:active {
    background-color: red;
    color: white;
}

.menu a{
    text-decoration: none;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.menu a:link, a:visited{
    color: white;
    font-size: 50px;
    font-family: navbar;
}
