@font-face{
    src: url(../fonts/Emberly-ExtraBold.otf);
    font-family: navbar;
}

nav{
    background-color: darkolivegreen;
    position: fixed;
    width: 100%;
    line-height: normal;
    transition: top 0.5s;
    z-index: 1;
    -webkit-transition: top 0.5s;
    -moz-transition: top 0.5s;
    -ms-transition: top 0.5s;
    -o-transition: top 0.5s;
}

.logo{
    padding-left: 1%;
    padding-bottom: 1%;
    padding-top: 1%;
    height: 80px;
    float: left;
    margin: auto;
}
.menu ul{
    display: inline-block;
    padding-top: 20px;
}
.menu a:hover {
    background-color: #ffd203;
    text-decoration: overline;
    color: black;
}

.menu a:active {
    background-color: red;
    color: white;
}

.menu a{
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

.menu a:link, a:visited{
    color: white;
    font-size: 50px;
    font-family: navbar;
}
