@font-face{
    src: url(/fonts/Emberly-ExtraBoldCondensed.ttf);
    font-family: navbar;
}

nav{
    /* background-color: brown; */
    position:fixed;
    width: 100%;
    line-height: normal;
    transition: top 0.3s;
}
.logo{
    padding: 10px;
    height: 90px;
    float: left;
    margin: auto;
}

.menu{
    /* background-color: blueviolet; */
    margin-left: 30%;
    padding-top: 2%;
    padding-bottom: 3%;
}
.menu ul{
    display: inline;
    padding-top: 100%;

}

.menu ul :hover {
    background-color: #ffd203;
    text-decoration: overline;
    color: black;
  }
.menu ul .active {
    background-color: red;
    color: white;
  }

.menu a{
    text-decoration: none;
    padding-top: 5%;
    padding-bottom: 4%;
    padding-left: 2%;
    padding-right: 2%;
    /* background-color: aqua; */
}

.menu a:link{
    color: white;
    font-size: 50px;
    font-family: navbar;
}
