@font-face{
    src: url(fonts/Emberly-ExtraBoldNarrowItalic.ttf);
    font-family: title;
}

html{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: white;
}

.title{
    font-size: 50px;
    font-family: title;
}
