@font-face{
    src: url(fonts/Emberly-ExtraBoldNarrow.ttf);
    font-size: 100px;
    font-family: LogoTitle;
}
@font-face{
    src: url(fonts/Emberly-ExtraBoldNarrow.ttf);
    font-size: 80px;
    font-family: HeaderTitle;
}
@font-face{
    src: url(fonts/Emberly-ExtraBoldNarrow.ttf);
    font-size: 20px;
    font-family: NavBar;
}

html{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: white;
}

.title{
    font-size: 50px;
    font-family: HeaderTitle;
}
header{
    background: url(photos/bikes.png);
    background-size: cover;
    background-position: center;
    height: 50vh;
    width: 100%;
}

nav{
    position: fixed;
    width: 100%;
    line-height: normal;
}
.menu ul{
    display: inline;
    text-align: center;
    padding: auto;
    text-decoration: none;
    float: right;
}

.logo{
    height: 50px;
    float: left;
    margin: auto;
}

.logoTitle{
    font-family: LogoTitle;
    font-size: 100px;
    text-align: center;
    color: white;
    padding-top: 20vh;
}

nav a:link{
    color: white;
    font-family: NavBar;
    text-decoration: underline;
}