@font-face{
    src: url(../fonts/Emberly-ExtraBold.otf);
    font-family: date;
}
@font-face{
    src: url(../fonts/Emberly-ExtraBold.otf);
    font-family: title;
}
@font-face{
    src: url(../fonts/Emberly-ExtraBold.otf);
    font-family: post;
}
@font-face{
    src: url(../fonts/Emberly-ExtraBold.otf);
    font-family: link;
}
html{
    background: white;
}
body{
    margin: 0;
}

.entry{
    background-image: url(../photos/bikes.jpeg);
    height: 400px;
    outline: solid 1px black;
    background-size:cover;
    width: 100%;
    overflow: hidden;
    padding-top: 120px;
}

.entry div{
    padding-right: 5%;
}

.entry .date{
    background-color: blueviolet;
    width: 100%;
    font-family: date;
    color: white;
}

.entry .date p{
    clear: both;
    float: right;
}
.entry .title{
    background-color: red;
    font-family: title;
    color: white;
}
.entry .title h1{
    float: right;
    clear: both;
}
.entry .post{
    background-color: yellow;
    font-family: post;
    color: white;
}
.entry .post p{
    float: right;
    clear: both;
}
.entry .link{
    background-color:darkolivegreen;
    font-family: link;
    color: white;
}

.entry .link a{
    float: right;
    clear: both;
}
.entry a:link, a:visited{
    color: white;
    font-family: link;
}
