@font-face{
    src: url(../fonts/Emberly-ExtraBold.otf);
    font-family: date;
}
@font-face{
    src: url(../fonts/Emberly-ExtraBold.otf);
    font-family: title;
}
@font-face{
    src: url(../fonts/Emberly-ExtraBold.otf);
    font-family: post;
}
@font-face{
    src: url(../fonts/Emberly-ExtraBold.otf);
    font-family: link;
}
html{
    background: white;
}
body{
    margin: 0;
}

.entry .date p{
    font-family: date;
}
.entry .title h1{
    font-family: title;
}
.entry .post p{
    font-family: post;
}
.entry .link{
    font-family: link;
}
